#contact header {
    text-align: center;
    h2 {
        text-align: center;
        font-size: 4rem;
    }
    margin-top: 10rem;
}

#contact .contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    place-items: center;
    margin-top: 1.5rem;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 70px;
      max-width: 30rem;
      gap: 2rem;
      background-color: var(--mainColor);
      border-radius: 1.4rem;
      padding: 1.6rem 2.8rem;
      transition: background-color 0.25s;
      img{
        width: 4rem;
      }
      a{
        color: #FFF;
        font-weight: 500;
      }
      &:hover{
        background-color: var(--hoverColor);
        a{
          color: #FFF;
        }
      }
    }
}


@media(max-width: 960px){
    #contact .contacts{
      flex-direction: column;
      div{
        width: 100%;
        
      }
    }
}
  

